/__pycache__
/src/__pycache__
/both.log
/data
/log
/model
/pure.py
/render.html
/test.ipynb
./data/public_data
./data/public_data/train/mono/train.nl
./data/public_data/train/mono/train.zh
data/public_data/train/pair/train.nl
data/public_data/train/pair/train.zh
data/public_data/train/pair/nl_XX-zh_CN/train/data-00000-of-00001.arrow
/fasttext

./src/__pycache__
*.pyc
data/public_data/train/pair/nl_XX-zh_CN/train/state.json
./zh-nl